<h1>Japanese Grammer With Literal English Word Interpretation App!</h1>

<form action="/translation">
  <label for="input_id">Input Sentance</label>
  <input id="input_id" name="input">

  <label for="sides_id">How many sides per die? </label>
  <input id="sides_id" name="sides">
  
  <button>Submit!</button>
</form>
