
<div class="main-container">
  
  <div class="image-row">
    <img class="profile-image" src="/images/app-logo-02.png" alt="App_logo">
  </div> <!-- /image-row -->

  <div class="name-row">
    <p>"What does this mean?"<br>(in Japanese)<br>Literally!
  </div> <!-- /name-row -->
    
  <div class="explanation">
    <p>This tool is used to showcase the different levels of translation possible between the Japanese and English language. Including the 'Literal' translation of the query is meant to highlight the difference in grammar and line up the english words with their Japanese counterparts.</p> 
  </div> <!-- /explanation -->

  <div class="links-row">
    <div class="form-box">
      <form class="link-text" action="/translation">
        <label for="input_id">Input Sentance</label>
        <input id="input_id" name="input">
        
        <button>Submit!</button>
      </form>
    </div> <!-- /form-box -->
  </div> <!-- /links-row -->

   <div class="explanation"> 
    <p>There are many Japanese word 'particles' such as "wa, ga, o, ka, ni, etc." that often don't really have a direct translation for English, and I have decided to keep those particles as part of the literal translation so including those particles becomes a natural part of restructuring English into Japanese grammar. This tool does not try to educate the user on what those particles mean.</p>
  </div> <!-- /explanation2 -->


</div> <!-- /main-container -->
    
