
<div class="main-container">
  <div class="image-row">
    <img class="profile-image" src="images/app_logo_01.png" alt="App_logo">
  </div> <!-- /image-row -->

  <div class="name-row">
    This wa what o meaning do is ka? Literally! 
  </div> <!-- /name-row -->
    
  <div class="explanation">
    <p>This tool is used to showcase the different levels of translation possible between the Japanese and English language. Including the 'Literal' translation of the query is meant to highlight the difference in grammar and line up the english words with their Japanese counterparts.</p>

  </div> <!-- /explanation -->

  <div class="form-box">
    <form action="/translation">
      <label for="input_id">Input Sentance</label>
      <input id="input_id" name="input">
      
      <button>Submit!</button>
    </form>

  </div> <!-- /form-box -->

</div> <!-- /main-container -->
    
