<h1>Japanese gramar... but in English</h1>

<dl>
  <dt>
    <strong>Your sentance:</strong>
  </dt>
  <dd>
    <%= @input_trans %>
  </dd>

  <dt>
    <strong>Written phonetically</strong>
  </dt>
  <dd>
    <%= @phonetic_output %>
  </dd>

  <dt>
    <strong>Written with Kanji</strong>
  </dt>
  <dd>
    <%= @kanji_output %>
  </dd>

  <dt>
    <strong>The 'Literal' English Translation</strong>
  </dt>
  <dd>
    <%= @output_trans %>
  </dd>
</dl>

<p><a href="/">Go back home.</a></p>
